.contact-content{
    height: 100vh;
    padding: 9px;
    margin-top: 25px;
    position: relative;
    overflow: hidden;
    
}
.contact-content::after{
    content: "";
    background-image: url(../img/2.jpg);
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 20px;
    top: 0;
    z-index: -1;

}


.contact-form{
    
}