*{
    margin: 0;
    padding: 0;
}
.navigation{
    margin-top: 23px ;
    /* height: 74px; */
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font1);                              
}
.nav-left{
    font-size: 35px;
    display: flex;
}
.nav-left span{
    font-size: 35px;
    padding-top: 10px;
}
.nav-left ul{
    display: flex; 
    align-items: center; 
    margin: 0 77px;    
    font-size: 22px;
    padding-bottom: 23px;
    /* font-weight: bolder; */
}

.nav-left ul li{
    list-style: none;
    margin: 0 14px;
    font-family: var(--font2);
    transition:all 0.3s ease-in-out   ;
    
    
}

.nav-left ul li a{
    text-decoration: none;
    color: black;
    
}
.nav-left ul li:hover{
    color:var(--main-bg-color) ;
    font-weight: bolder;
}

.content{
    /* height: 395px; */
    /* background-color: rgb(219, 219, 245); */
    /* display: flex;
    padding: 9px;
    margin-top: 25px;
    position: relative; */
        /* height: 395px; */
    /* background-color: rgb(219, 219, 245); */
    /* display: flex; */
    padding: 9px;
    margin-top: 25px;
    position: relative;
    
}
.content::after{
    content: "";
    /* background-image: url(../img/2.jpg); */
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 20px;

}
.content-left{
    font-family: var(--font1);
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:50px ;
    z-index: 1;
}
.content-right{
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.content-right img{
    height: 355px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles{
    
    padding-top: 15px;
    background-color: rgb(239, 227, 245,0.3);
    padding: 18px;
    margin-top: 23px;
    position: relative;
}
.year-box{
    position: absolute;
    /* background-color: red; */
    right: 180px;
    top: 80px;
    width: 234px;
    height: 250px;
    font-size: 18px;
}
.year-box div{
    margin: 12px 0px;
}
.home-article{
    display: flex;
    margin: 25px;
}
.home-article img{
    width: 300px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}
/* .home-articles{} */

.footer{
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;

}
.footer a{
    color: white;
}